{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Patient Dossier PDF</title>
    <link rel="stylesheet" href="{% static 'patient/assets/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <h2>Dossier Medical for {{ patient.first_name }} {{ patient.last_name }}</h2>
        <p>Email: {{ patient.email }} </p>
        <p>Date Joined: {{ patient.date_joined|date:"d/m/Y" }}</p>
        <p>Gender: {{ patient.gender }}</p>
        <p>Age: {{ patient.age }}</p>
        <p>Status: {{ patient.status }}</p>
        <p>Phone number: {{ patient.phone_number }} </p>
        <p>Active: {{ patient.is_active }} </p>
    </div>
</body>
</html>
