{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="{% static 'patient/assets/css/login.css' %}">
</head>
<body>
    <div class="main-container"> <!-- Nouveau conteneur principal -->
        <div class="form-container">
            <h1>Réinitialiser le mot de passe</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Envoyer le lien de réinitialisation</button>
            </form>
            <div class="footer">
                <p><a href="{% url 'login' %}">Retour à la connexion</a></p>
            </div>
        </div>
    </div>
</body>
</html>
