{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'patient/assets/css/register.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="form-container">
            <h1>Sign up</h1>

            <!-- Boîte de succès -->
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="input-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="input-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="input-group">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                    {{ form.phone_number.errors }}
                </div>

                <div class="input-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>

                <div class="input-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>

                <button type="submit">Sign Up</button>
            </form>

            <div class="footer">
                <p>You already have an account? <a href="{% url 'login' %}">Sign In</a></p>
            </div>
        </div>
    </div>
</body>
</html>
