{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialiser le mot de passe</title>
    <link rel="stylesheet" href="{% static 'patient/assets/css/login.css' %}">
</head>
<body>
    <div class="main-container"> <!-- Conteneur principal -->
        <div class="form-container">
            <h1>Réinitialiser votre mot de passe</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Afficher les champs du formulaire -->
                <button type="submit">Réinitialiser le mot de passe</button>
            </form>
            <div class="footer">
                <p><a href="{% url 'login' %}">Retour à la connexion</a></p>
            </div>
        </div>
    </div>
</body>
</html>
